.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
}

.single-link{
    list-style-type: none;
}

.search-bar{
    margin: 2rem;
}